<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/js/jquery-3.4.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/echarts.min.js" type="application/javascript"></script>
    <script src="/layui/layui.all.js" type="application/javascript"></script>
    <script src="/js/common.js" type="application/javascript"></script>
    <script src="/js/analysis.js" type="application/javascript"></script>
</head>
<body>
<div th:fragment="prematch">
    <form id="crawl-form" >
        <table class="form-group">
            <tr>
                <td>数据爬取目标：</td>
                <td>
                    <select id="selectValue" class="form-control form-control-sm">
                        <option value="1">前匹配</option>
                        <option value="2">后匹配</option>
                        <option value="3">模糊查询</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>搜索关键词：</td>
                <td>
                    <input class="form-control form-control-sm" type="text" id="search_key"
                           placeholder="如“手机”、“电脑”..." required>
                </td>
            </tr>
        </table>
        <button id="btn_crawl" type="submit" class="layui-btn start">提交</button>
    </form>
      <table id="comment_table0" lay-filter="comment_table"></table>
</div>
<div th:fragment="postmatch">
    <table id="comment_table" lay-filter="comment_table"></table>
    <script type="text/html" id="bar_left">
        <button class="layui-btn layui-btn-sm btn-add" lay-event="add_comment">
            <i class="layui-icon layui-icon-add-1"></i>
            添加一条数据
        </button>
        <button class="layui-btn layui-btn-sm btn-add" lay-event="generator_model">
            <i class="layui-icon layui-icon-upload-drag"></i>
            提交模型生成任务
        </button>
    </script>
    <script type="text/html" id="bar_right">
        {{#  if(d.type === 2){ }}
        <a class="layui-btn layui-btn-xs bar-btn" lay-event="edit">关注</a>
        {{#  } }}
        {{#  if(d.type === 1){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs bar-btn" lay-event="del">取关</a>
        {{#  } }}
    </script>
</div>
<div th:fragment="query">
    <table id="comment_table2" lay-filter="comment_table"></table>
</div>
</body>
</html>