<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/js/jquery-3.4.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/echarts.min.js" type="application/javascript"></script>
    <script src="/layui/layui.js" type="application/javascript"></script>
    <script src="/js/common.js" type="application/javascript"></script>
    <script src="/js/analysis.js" type="application/javascript"></script>
</head>
<body>
<div class="container-fluid">
    <div class="welcome border  rounded">
        <div>微博系统</div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${content eq 'prematch'}?'active'" href="/index">用户基本信息</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${content eq 'postmatch'}?'active'" href="/attends">关注</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${content eq 'query'}?'active'" href="/fans">粉丝</a>
        </li>
    </ul>
    <div class="content border border-top-0">
        <div th:if="${content} == 'prematch'">
            <div th:replace="content :: user"></div>
        </div>
        <div th:if="${content} == 'postmatch'">
            <div th:replace="content :: attends"></div>
        </div>
        <div th:if="${content} == 'query'">
            <div th:replace="content :: fans"></div>
        </div>
    </div>
</div>
</body>
</html>